In [19]:
# pip install category_encoders
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [20]:
import pandas as pd
import numpy as np

import category_encoders as ce

In [33]:
readmission_df = pd.read_csv('diabetic_data.csv')
readmission_df['diag_1'].head()

0    250.83
1       276
2       648
3         8
4       197
Name: diag_1, dtype: object

In [34]:
readmission_df.columns

Index(['encounter_id', 'patient_nbr', 'race', 'gender', 'age', 'weight',
       'admission_type_id', 'discharge_disposition_id', 'admission_source_id',
       'time_in_hospital', 'payer_code', 'medical_specialty',
       'num_lab_procedures', 'num_procedures', 'num_medications',
       'number_outpatient', 'number_emergency', 'number_inpatient', 'diag_1',
       'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult',
       'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide',
       'glimepiride', 'acetohexamide', 'glipizide', 'glyburide', 'tolbutamide',
       'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
       'tolazamide', 'examide', 'citoglipton', 'insulin',
       'glyburide-metformin', 'glipizide-metformin',
       'glimepiride-pioglitazone', 'metformin-rosiglitazone',
       'metformin-pioglitazone', 'change', 'diabetesMed', 'readmitted'],
      dtype='object')

In [47]:
# Drop: admission_source_id, payer_code, medical_specialty, number_inpatient, number_outpatient, number_emergency, weight, patient_nbr, medications
readmission_cleaned = readmission_df.drop(columns=['admission_source_id', 'payer_code', 'medical_specialty', 'number_inpatient', 'number_outpatient', 'number_emergency', 
                                                  'weight', 'patient_nbr', 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 
                                                           'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
                                                           'tolazamide', 'examide', 'citoglipton', 'insulin', 'glyburide-metformin', 'glipizide-metformin', 
                                                           'glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone', 'change', 'diabetesMed'])
readmission_cleaned['diag_1'].head()

0    250.83
1       276
2       648
3         8
4       197
Name: diag_1, dtype: object

In [57]:
readmission_cleaned = readmission_df.drop(columns=['admission_source_id', 'payer_code', 'medical_specialty', 'number_inpatient', 'number_outpatient', 'number_emergency', 
                                                  'weight', 'patient_nbr', 'metformin', 'repaglinide', 'nateglinide', 'chlorpropamide', 'glimepiride', 'acetohexamide', 
                                                           'glipizide', 'glyburide', 'tolbutamide', 'pioglitazone', 'rosiglitazone', 'acarbose', 'miglitol', 'troglitazone',
                                                           'tolazamide', 'examide', 'citoglipton', 'insulin', 'glyburide-metformin', 'glipizide-metformin', 
                                                           'glimepiride-pioglitazone', 'metformin-rosiglitazone', 'metformin-pioglitazone', 'change', 'diabetesMed'])

substring = "V"
for i in range (0, len(readmission_cleaned['diag_1'])):
    if substring in readmission_cleaned['diag_1'][i]:
        readmission_cleaned['diag_1'][i]='2'
        
for i in range (0, len(readmission_cleaned['diag_2'])):
    if substring in readmission_cleaned['diag_2'][i]:
        readmission_cleaned['diag_2'][i]='2'
        
for i in range (0, len(readmission_cleaned['diag_3'])):
    if substring in readmission_cleaned['diag_3'][i]:
        readmission_cleaned['diag_3'][i]='2'
        
substring = "?"
for i in range (0, len(readmission_cleaned['diag_1'])):
    if substring in readmission_cleaned['diag_1'][i]:
        readmission_cleaned['diag_1'][i]='2'
        
for i in range (0, len(readmission_cleaned['diag_2'])):
    if substring in readmission_cleaned['diag_2'][i]:
        readmission_cleaned['diag_2'][i]='2'
        
for i in range (0, len(readmission_cleaned['diag_3'])):
    if substring in readmission_cleaned['diag_3'][i]:
        readmission_cleaned['diag_3'][i]='2'

substring = "E"
for i in range (0, len(readmission_cleaned['diag_1'])):
    if substring in readmission_cleaned['diag_1'][i]:
        readmission_cleaned['diag_1'][i]='2'
        
for i in range (0, len(readmission_cleaned['diag_2'])):
    if substring in readmission_cleaned['diag_2'][i]:
        readmission_cleaned['diag_2'][i]='2'
        
for i in range (0, len(readmission_cleaned['diag_3'])):
    if substring in readmission_cleaned['diag_3'][i]:
        readmission_cleaned['diag_3'][i]='2'

<ipython-input-57-e4f51a4c42e1>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_1'][i]='2'
<ipython-input-57-e4f51a4c42e1>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_2'][i]='2'
<ipython-input-57-e4f51a4c42e1>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_3'][i]='2'
<ipython-input-57-e4f51a4c42e1>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_1'][i]='2'
<ipython-input-57-e4f51a4c42e1>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_2'][i]='2'
<ipython-input-57-e4f51a4c42e1>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_3'][i]='2'
<ipython-input-57-e4f51a4c42e1>:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_1'][i]='2'
<ipython-input-57-e4f51a4c42e1>:40: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_2'][i]='2'
<ipython-input-57-e4f51a4c42e1>:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_3'][i]='2'

In [58]:
readmission_cleaned['diag_1'].head()

0    250.83
1       276
2       648
3         8
4       197
Name: diag_1, dtype: object

In [59]:
for i in range (0, len(readmission_cleaned['diag_1'])):
    readmission_cleaned['diag_1'][i] = float(readmission_cleaned['diag_1'][i])
        
for i in range (0, len(readmission_cleaned['diag_2'])):
    readmission_cleaned['diag_2'][i] = float(readmission_cleaned['diag_2'][i])
        
for i in range (0, len(readmission_cleaned['diag_3'])):
    readmission_cleaned['diag_3'][i] = float(readmission_cleaned['diag_3'][i])

<ipython-input-59-7fe270861c49>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_1'][i] = float(readmission_cleaned['diag_1'][i])
<ipython-input-59-7fe270861c49>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_2'][i] = float(readmission_cleaned['diag_2'][i])
<ipython-input-59-7fe270861c49>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  readmission_cleaned['diag_3'][i] = float(readmission_cleaned['diag_3'][i])

In [60]:
# Making bins for diagnosis groups
# 'Circulatory','Respiratory','Digestive','Diabetes','Injury','Musculoskeletal','Genitourinary','Neoplasms','Other'
bin_names = ['Other','Neoplasms','Diabetes','Neoplasms','Other','Neoplasms','Other','Circulatory','Respiratory','Digestive','Genitourinary'
             ,'Other','Neoplasms','Musculoskeletal','Other','Neoplasms','Circulatory','Respiratory','Digestive','Genitourinary',
             'Neoplasms','Injury']
bins = [0,139,249.99,250.99,279,289,319,389,459,519,579,629,679,709,739,759,784,785,786,787,788,799,1000]
readmission_cleaned['diag_1'] = pd.cut(readmission_cleaned['diag_1'], bins, labels=bin_names, include_lowest=True, ordered = False)
readmission_cleaned['diag_2'] = pd.cut(readmission_cleaned['diag_2'], bins, labels=bin_names, include_lowest=True, ordered = False)
readmission_cleaned['diag_3'] = pd.cut(readmission_cleaned['diag_3'], bins, labels=bin_names, include_lowest=True, ordered = False)


readmission_cleaned.head()

,encounter_id,race,gender,age,admission_type_id,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,readmitted
0,2278392,Caucasian,Female,[0-10),6,25,1,41,0,1,Diabetes,Other,Other,1,None,None,NO
1,149190,Caucasian,Female,[10-20),1,1,3,59,0,18,Neoplasms,Diabetes,Neoplasms,9,None,None,>30
2,64410,AfricanAmerican,Female,[20-30),1,1,2,11,5,13,Other,Diabetes,Other,6,None,None,NO
3,500364,Caucasian,Male,[30-40),1,1,2,44,1,16,Other,Diabetes,Circulatory,7,None,None,NO
4,16680,Caucasian,Male,[40-50),1,1,1,51,0,8,Neoplasms,Neoplasms,Diabetes,5,None,None,NO

In [61]:
# encode/get dummies: race, gender, age, admission_type_id, diag_1, diag_2, diag_3, number_diagnoses, max_glu_serum, A1Cresult
ce_OHE = ce.OneHotEncoder(cols=['race','gender', 'age', 'admission_type_id', 'diag_1', 'diag_2', 'diag_3', 'number_diagnoses', 'max_glu_serum', 'A1Cresult'])

readmission_df_encoded = ce_OHE.fit_transform(readmission_cleaned)
readmission_df_encoded.head()

,encounter_id,race_1,race_2,race_3,race_4,race_5,race_6,gender_1,gender_2,gender_3,age_1,age_2,age_3,age_4,age_5,age_6,age_7,age_8,age_9,age_10,admission_type_id_1,admission_type_id_2,admission_type_id_3,admission_type_id_4,admission_type_id_5,admission_type_id_6,admission_type_id_7,admission_type_id_8,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1_1,diag_1_2,diag_1_3,diag_1_4,diag_1_5,diag_1_6,diag_1_7,diag_1_8,diag_1_9,diag_2_1,diag_2_2,diag_2_3,diag_2_4,diag_2_5,diag_2_6,diag_2_7,diag_2_8,diag_2_9,diag_3_1,diag_3_2,diag_3_3,diag_3_4,diag_3_5,diag_3_6,diag_3_7,diag_3_8,diag_3_9,number_diagnoses_1,number_diagnoses_2,number_diagnoses_3,number_diagnoses_4,number_diagnoses_5,number_diagnoses_6,number_diagnoses_7,number_diagnoses_8,number_diagnoses_9,number_diagnoses_10,number_diagnoses_11,number_diagnoses_12,number_diagnoses_13,number_diagnoses_14,number_diagnoses_15,number_diagnoses_16,max_glu_serum_1,max_glu_serum_2,max_glu_serum_3,max_glu_serum_4,A1Cresult_1,A1Cresult_2,A1Cresult_3,A1Cresult_4,readmitted
0,2278392,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,25,1,41,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,NO
1,149190,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,3,59,0,18,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,>30
2,64410,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,2,11,5,13,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,NO
3,500364,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,2,44,1,16,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,NO
4,16680,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,51,0,8,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,NO

In [62]:
# Change to boolean: readmitted
readmission_final = readmission_df_encoded
for i in readmission_final['readmitted']:
    if i == '>30':
        readmission_final['readmitted'] = i.replace(">30", '0')
    if i == '<30':
        readmission_final['readmitted'] = i.replace("<30", '1')
    if i == 'NO':
        readmission_final['readmitted'] = i.replace("NO", '0')
for i in readmission_final['readmitted']:
    int(i)
readmission_final.head()

,encounter_id,race_1,race_2,race_3,race_4,race_5,race_6,gender_1,gender_2,gender_3,age_1,age_2,age_3,age_4,age_5,age_6,age_7,age_8,age_9,age_10,admission_type_id_1,admission_type_id_2,admission_type_id_3,admission_type_id_4,admission_type_id_5,admission_type_id_6,admission_type_id_7,admission_type_id_8,discharge_disposition_id,time_in_hospital,num_lab_procedures,num_procedures,num_medications,diag_1_1,diag_1_2,diag_1_3,diag_1_4,diag_1_5,diag_1_6,diag_1_7,diag_1_8,diag_1_9,diag_2_1,diag_2_2,diag_2_3,diag_2_4,diag_2_5,diag_2_6,diag_2_7,diag_2_8,diag_2_9,diag_3_1,diag_3_2,diag_3_3,diag_3_4,diag_3_5,diag_3_6,diag_3_7,diag_3_8,diag_3_9,number_diagnoses_1,number_diagnoses_2,number_diagnoses_3,number_diagnoses_4,number_diagnoses_5,number_diagnoses_6,number_diagnoses_7,number_diagnoses_8,number_diagnoses_9,number_diagnoses_10,number_diagnoses_11,number_diagnoses_12,number_diagnoses_13,number_diagnoses_14,number_diagnoses_15,number_diagnoses_16,max_glu_serum_1,max_glu_serum_2,max_glu_serum_3,max_glu_serum_4,A1Cresult_1,A1Cresult_2,A1Cresult_3,A1Cresult_4,readmitted
0,2278392,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,25,1,41,0,1,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
1,149190,1,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,3,59,0,18,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
2,64410,0,1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,2,11,5,13,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
3,500364,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,2,44,1,16,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0
4,16680,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,1,51,0,8,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0

In [ ]:
readmission_dict = readmission_final.to_dict()

In [ ]:
from sklearn.datasets import load_breast_cancer
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC